name : SeleniumIDE CI

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up .Net Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    
    name: Install dependencies
    run: dotnet restore

    name: Build
    run: dotnet build --no-restore

    name: run tests
    run: dotnet test --verbosity normal